/*------------ base ------------*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right, #8d0909, #ab2424);
  -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*------------ typography ------------*/

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #222; }

  .load-wrapp {
    float: left;
    width: 100px;
    height: 100px;
    padding: 30px 20px 0px 20px;
    border-radius: 50px;
    text-align: center;
    border: 1px solid #ea8839;
    position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #ea8839;
}

.load-1 .line:nth-last-child(1) {animation: loadingA 1.5s 1s infinite;}
.load-1 .line:nth-last-child(2) {animation: loadingA 1.5s .5s infinite;}
.load-1 .line:nth-last-child(3) {animation: loadingA 1.5s 0s infinite;}

@keyframes loadingA {
    0 {height: 15px;}
    50% {height: 35px;}
    100% {height: 15px;}
}

.heading-primary {
  font-size: 3rem;
  font-weight: 500; }

.heading-secondary {
  font-size: 2rem;
  font-weight: 400; }

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 600; }
  .heading-tertiary--sub {
    font-weight: 500;
    color: #555; }

.paragraph {
  font-size: 1.2rem;
  font-weight: 400; }

.faint-notif {
  font-size: 1.2rem;
  font-weight: 400;
  color: #aaa; }

.timestamp {
  font-size: 1.2rem;
  font-weight: 600;
  color: #aaa; }

/*------------ utilities ------------*/

.u-margin-bottom-sm {
  margin-bottom: 1rem !important; }

.u-margin-bottom-sm-md {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-md {
  margin-bottom: 2rem !important; }

.u-margin-bottom-md-lg {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-lg {
  margin-bottom: 3rem !important; }

.u-margin-bottom-hg {
  margin-bottom: 4rem !important; }

.u-margin-left-sm {
  margin-left: 1rem !important; }

.u-margin-left-md {
  margin-left: 2rem !important; }

.u-center-text {
  text-align: center !important; }

.u-color-white {
  color: #fff; }

/*------------ buttons ------------*/

.btn, .btn:link, .btn:visited {
  border: none;
  padding: 1.5rem 2rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  transition: background-color .15s;
  cursor: pointer; }

.btn:focus .btn__left-icon, .btn:active .btn__left-icon {
  color: #e6e6e6; }

.btn--disabled {
  background-color: #aaa;
  cursor: default; }

.btn--notdisabled {
  background-color: #ea8839;
}

.btn--notdisabled:hover {
  background-color: #d96e17;
}

button:focus {outline:0;}
input:focus {outline:0;}

.btn--action {
  background-color: #ea8839; }
  .btn--action:hover {
    background-color: #d96e17; }
  .btn--action:focus, .btn--action:active {
    color: #e6e6e6; }

.btn--high-action {
  background-color: #309000; }
  .btn--high-action:hover {
    background-color: #1f5d00; }
  .btn--high-action:focus, .btn--high-action:active {
    color: #e6e6e6; }

.btn--high-action-hollowed {
  border: 0.2rem solid #309000;
  background-color: transparent;
  color: #309000; }
  .btn--high-action-hollowed:hover {
    background-color: lightgray; }
  .btn--high-action-hollowed:focus, .btn--high-action-hollowed:active {
    color: #1f5d00; }

.btn--with-icon {
  display: flex;
  align-items: center; }

.btn__left-icon {
  margin-right: 1rem;
  font-size: 2rem;
  line-height: 1rem;
  color: #fff; }

.btn-back, .btn-back:link, .btn-back:visited {
  border: none;
  font-family: inherit;
  font-size: 2rem;
  color: #ea8839;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer; }

.btn-back:hover {
  color: #d96e17; }

.btn-back:focus, .btn-back:active {
  color: #efa467; }

.btn-create, .btn-create:link, .btn-create:visited {
  border: 0.2rem solid #ea8839;
  border-radius: .5rem;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: #ea8839;
  background-color: transparent;
  display: flex;
  transition: background-color .15s;
  cursor: pointer; }

.btn-create:hover {
  border: 0.2rem solid #d96e17;
  color: #d96e17; }

.btn-create:hover .btn-create__text {
  border-right: 0.2rem solid #d96e17; }

.btn-create:focus, .btn-create:active {
  border: 0.2rem solid #efa467;
  color: #efa467;
  outline: 0; }

.btn-create:focus .btn-create__text, .btn-create:active .btn-create__text {
  border-right: 0.2rem solid #efa467; }

.btn-create__text {
  border-right: 0.2rem solid #ea8839;
  padding: 1rem 1.2rem;
  font-size: 1.4rem; }

.btn-create__icon-box {
  padding: 0 .8rem;
  font-size: 2.8rem;
  line-height: 1.3; }

.btn-hide, .btn-hide:link, .btn-hide:visited {
  padding: .5rem 1.5rem;
  border: 0.1rem solid #ea8839;
  border-radius: .5rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ea8839;
  background-color: transparent;
  transition: background-color .15s;
  cursor: pointer; }

.btn-hide:hover {
  background-color: rgba(0, 0, 0, 0.05); }

.btn-hide:focus, .btn-hide:active {
  color: #efa467; }

/*------------ header ------------*/

.header {
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.3); }
  .header__container {
    margin: 0 auto;
    max-width: 120rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo-box {
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #fff; }
  .header__my-account-box {
    position: relative;
    margin-right: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .header__my-account-box--drop-down-active {
      background-color: rgba(0, 0, 0, 0.12); }
  .header__my-account-text {
    font-size: 1.4rem;
    font-weight: 700;
    color: #ea8839; }
    .header__my-account-text:hover {
      color: #d96e17; }
    .header__my-account-text:active {
      color: #efa467; }
  .header__down-arrow-icon {
    font-size: 2rem;
    transform: translateY(0.5rem); }
  .header__drop-down {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #e0e0e0;
    box-shadow: 0 0.2rem 0.8rem #000;
    list-style: none; }
  .header__drop-down-item, .header__drop-down-item:link, .header__drop-down-item:visited {
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #222;
    transition: background-color .15s;
    cursor: pointer; }
  .header__drop-down-item:hover {
    background-color: #ccc; }
  .header__drop-down-item:active {
    color: #6f6f6f; }

/*------------ back-button ------------*/

.container-btn-back {
  max-width: 100rem;
  margin: 4rem auto; }

/*------------ main panel ------------*/

  .main-panel {
  max-width: 100rem;
  margin: 4rem auto;
  background-color: #e0e0e0;
  box-shadow: 0 0.5rem 0.8rem #000; }
  .main-panel__header {
    height: 10rem;
    padding-left: 4rem;
    border-bottom: 0.1rem solid #aaa;
    background-color: #ccc;
    display: flex;
    align-items: center; }
  .main-panel__header--user {
    font-size: 2rem;
    font-weight: 300;
    color: #555; }
  .main-panel__nav-and-content {
    display: flex; }
  .main-panel__nav {
    border-right: 0.1rem solid #aaa;
    list-style: none; }
  .main-panel__nav-item, .main-panel__nav-item:link, .main-panel__nav-item:visited {
    padding: 1.5rem 4rem;
    font-size: 1.6rem;
    font-weight: 400;
    transition: background-color .15s;
    cursor: pointer; }
  .main-panel__nav-item:hover {
    background-color: #ccc; }
  .main-panel__nav-item:active {
    color: #6f6f6f; }
  .main-panel__nav-item--current {
    color: #8d0909; }
  .main-panel__content {
    width: 100%;
    padding: 3rem 6rem; }

/*------------ areas ------------*/

.area-action {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.area-section-heading {
  display: flex;
  align-items: center; }

.area-section-heading-center {
  display: flex;
  justify-content: center;
  align-items: center; }
  .area-section-heading-center__container {
    position: relative; }
  .area-section-heading-center__hide-btn-box {
    position: absolute;
    top: 50%;
    left: calc(100% + 2rem);
    transform: translateY(-50%); }

.area-search-bar-with-add {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*------------ bar-group ------------*/

.bar-group__bar {
  height: 5rem;
  border: 0.2rem solid #ccc;
  padding-left: 3rem;
  padding-right: 1rem;
  background-image: linear-gradient(to top, #ccc, #ddd);
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .bar-group__bar:not(:last-child) {
    margin-bottom: 1rem; }
  .bar-group__bar:hover {
    background-image: linear-gradient(to top, #c7c7c7, #d8d8d8); }

.bar-group__icon {
  margin-left: 1rem;
  font-size: 2rem;
  color: #aaa;
  cursor: pointer; }
  .bar-group__icon:hover {
    color: #919191; }
  .bar-group__icon:active {
    color: #c4c4c4; }
  .bar-group__icon--leftmost {
    margin-left: auto; }

/*------------ bar-group-result ------------*/

.bar-group-result {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .bar-group-result__bar {
    height: 5rem;
    width: 44rem;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bar-group-result__bar:not(:last-child) {
      margin-bottom: .5rem; }
    .bar-group-result__bar--success {
      border: 0.2rem solid #309000;
      color: #309000; }
    .bar-group-result__bar--failure {
      border: 0.2rem solid #8d0909;
      color: #8d0909; }

/*------------ search-bar ------------*/

.search-bar {
  height: 4rem;
  width: 30rem;
  padding-left: 1.5rem;
  border: 0.2rem solid #aaa;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: transparent;
  display: flex;
  align-items: center; }
  .search-bar__form {
    position: relative; }
  .search-bar__icon, .search-bar__icon:link, .search-bar__icon:visited {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #aaa;
    cursor: pointer; }
  .search-bar__icon:hover {
    color: #919191; }
  .search-bar__icon:focus, .search-bar__icon:active {
    color: #c4c4c4; }

/*------------ modal ------------*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #e0e0e0;
  box-shadow: 0 0.5rem 0.8rem #000; }
  .modal--sm {
    padding-top: 3rem;
    padding-bottom: 2.5rem; }
  .modal--profile {
    width: 40rem; }
  .modal__backdrop {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8); }
  .modal__close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    color: #aaa;
    cursor: pointer; }
    .modal__close-icon:hover {
      color: #919191; }
    .modal__close-icon:active {
      color: #c4c4c4; }
  .modal__form-group:not(:last-child) {
    margin-bottom: 1.5rem; }
  .modal__form-input {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    border: 0.2rem solid #999;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: transparent; }
    .modal__form-input--textarea {
      height: 16rem; }
  .modal__submit-area {
    display: flex;
    justify-content: flex-end; }
  .modal__form-cancel, .modal__form-cancel:link, .modal__form-cancel:visited {
    float: right;
    width: 16rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 0.2rem solid #999;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    color: #999;
    transition: background-color .15s;
    cursor: pointer; }
  .modal__form-cancel:focus, .modal__form-cancel:active {
    color: #b3b3b3; }
  .modal__form-cancel:hover {
    background-color: lightgray; }
  .modal__form-submit, .modal__form-submit:link, .modal__form-submit:visited {
    float: right;
    width: 16rem;
    border: none;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 1rem;
    background-color: #ea8839;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    transition: background-color .15s;
    cursor: pointer; }
  .modal__form-submit:focus, .modal__form-submit:active {
    color: #e6e6e6; }
  .modal__form-submit:hover {
    background-color: #d96e17; }
  .modal__form-delete, .modal__form-delete:link, .modal__form-delete:visited {
    float: right;
    width: 16rem;
    border: none;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 1rem;
    background-color: #ab2424;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    transition: background-color .15s;
    cursor: pointer; }
  .modal__form-delete:focus, .modal__form-delete:active {
    color: #e6e6e6; }
  .modal__form-delete:hover {
    background-color: #811b1b; }
